* {
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.WeatherContainer {
  width: 250px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.WeatherResults {
  display: flex;
}

.Left,
.Right {
  width: 50%;
}
.Left {
  text-align: right;
  font-weight: bold;
}
.Right {
  text-align: left;
  padding-left: 5px;
}

.WeatherButton {
  border-top: 2px solid black;
  margin-top: 10px;
  padding-top: 10px;
}
.GetWeatherButton {
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.Message {
  font-size: 1rem;
  padding: 0 10px;
}
